

.story-player-NoteItem
{
  list-style-type: none;
  overflow: visible;
  position : relative;

  .note-block-pointer{
    position :  absolute;
    left : -2rem;
    top: 0;
    cursor: pointer;
    height: 1rem;
    width: 1.3rem;
    text-align: center;
    font-size: .5rem;
    border-radius: 50%;
    background: lightgrey;
    padding-top: .3rem;
    &:hover{
      background: black;
      color: white;
    }
  }
}