/**
 * quinoa-story-player garlic template style definitions
 * ============
 * Please keep style definitions nested in order to ease
 * scss code reading accross files
 */
// @import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');


@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Roboto:400,400i,700,700i,900');


/**
 * Template-specific reusable elements (variables, mixins, abstract classes)
 */

// 1. variables
$gutter-small: .7em;
$gutter-medium: $gutter-small * 1.666;
$gutter-large: $gutter-medium * 3;
$gutter-lateral-large-screens: 25%;

$color-primary: #414e4d; // blued dark grey
$color-secondary: #f32e36; // fresh red
$color-secondary-intent: #87240e; // bordeaux red
$color-background: #fdfff8; // cream
$color-secondary-background: rgba(255,255,255,.8);// white desopacified
// #e5e7e6;
$color-primary-background: #f4f4f4;
$color-strokes: #dddbd9;

$font-size-1: $gutter-small * 1.1;
$font-size-2: $font-size-1 * 1.6;
$font-size-3: $font-size-2 * 1.6;
$font-size-4: $font-size-3 * 1.6;
$font-size-5: $font-size-4 * 1.6;

$burger-measure: $font-size-2;


$font-stack-serif: Merriweather, serif;
$font-stack-sans-serif: Roboto, serif;

// 2. mixins
@mixin transition($args...)
{
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}
// 3. abstract classes
.absolute-fill
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.interactive-item
{
    cursor: pointer;
}
.interactive-item-intent
{
    color: $color-primary;
    background: $color-strokes;
}

.interactive-item-active
{
    color: #333;// todo: parametrize that
    background: #d6cfc4;// todo: parametrize that
}

.interactive-item-active-intent
{
    color: #333;// todo: parametrize that
    background: #c3baac;// todo: parametrize that
}
/**
 * template styling
 */
.quinoa-story-player
{
    // default styling
    // font-family: 'Source Sans Pro', sans-serif;
    /**
     * Root element
     */
    font-family: $font-stack-serif;

    display: flex;
    overflow: hidden;
    align-items: stretch;
    flex-flow: column nowrap;

    color: $color-primary;
    background: $color-background;

    @extend .absolute-fill;
    *::selection
    {
        color: $color-background;
        background: $color-secondary;
    }
    *::-moz-selection
    {
        color: $color-background;
        background: $color-secondary;
    }
    /**
     * Nested children
     */
    .wrapper
    {
        overflow: auto;

        width: 100%;
        height: 100%;
        .header
        {
            position: relative;

            display: flex;
            align-items: center;
            flex-flow: row nowrap;

            cursor: pointer;

            background: rgba(0,0,0,.7);// todo: parametrize that
            background: $color-secondary-background;
            background-repeat: no-repeat;
            background-size: cover;

            @extend .absolute-fill;
            .header-content
            {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                width: 100%; // - $gutter-lateral-large-screens * 2;
                height: 100%;
                padding: 0;

                text-align: center;

                color: white;
                background: rgba(0,0,0,.7);// todo: parametrize that
                h1
                {
                    font-size: $font-size-4;
                    font-variant: small-caps;
                    line-height: $font-size-1;
                }
            }
        }
    }
    .body-wrapper
    {
        position: relative;

        width: 100%;
        min-height: 100%;
        padding-top: $gutter-medium;
        .contents-wrapper
        {
            font-size: $font-size-2;

            padding-top: $gutter-medium;

            @extend .absolute-fill;
            text-rendering: optimizeLegibility;
            a
            {
                line-height: 1.3em;

                position: relative;

                text-decoration: none;

                color: inherit;
                border-bottom: 1px solid $color-secondary;
                outline: none;

                @include transition(all .5s ease);
                u
                {
                    text-decoration: none!important;
                }
                &:hover
                {
                    color: $color-background;
                    background: $color-secondary-intent;
                }
            }
            .section-header,
            .section-footer,
            .notes-container,
            .references,
            .glossary-container,
            .header-titles
            {
                font-size: $font-size-1;

                margin-right: $gutter-lateral-large-screens;
                margin-left: $gutter-lateral-large-screens;
            }
            .section-body
            {
                 > div
                {
                    padding-bottom: $gutter-large;
                     > h1,
                     > h2,
                     > h3,
                     > h4,
                     > h5,
                     > h6,
                     > .unstyled,
                     > ul,
                     > ol,
                     > blockquote,
                     > pre
                    {
                        margin-right: $gutter-lateral-large-screens;
                        margin-bottom: $gutter-medium;
                        margin-left: $gutter-lateral-large-screens;
                    }
                    pre
                    {
                        overflow: hidden;
                        overflow-x: auto;

                        padding: $gutter-medium;

                        background: $color-secondary-background;
                    }

                    blockquote{
                        padding: $gutter-medium;
                        border-left: 2px solid $color-strokes;
                        font-size: $font-size-1;
                    }

                     > .unstyled,
                    li
                    {
                        font-size: $font-size-1;
                        line-height: $font-size-1 * 2.2;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6,
                    .unstyled:first-of-type
                    {
                        margin-top: $gutter-medium;
                        margin-bottom: 0;
                    }
                    h1
                    {
                        font-size: $font-size-3;
                    }
                    h2
                    {
                        font-size: $font-size-2;
                    }

                    figure
                    {
                        position: relative;
                        z-index: 3;

                        margin: 0;

                        iframe
                        {
                            width: 100%;
                            max-width: 100%;

                            border: none;
                        }
                        img
                        {
                            // width : 100%;
                            display: inline-block;

                            max-width: 100%;
                            max-height: 100%;
                        }
                        .leaflet-container
                        {
                            img
                            {
                                max-width: none !important;
                                max-height: none !important;
                            }
                        }

                        &.embed,
                        &.image
                        {
                            margin-left: $gutter-lateral-large-screens * .8;
                            margin-right: $gutter-lateral-large-screens * .8;
                             -webkit-box-shadow: 0 1em 5em .5em rgba(0,0,0,.2);
                                    box-shadow: 0 1em 5em .5em rgba(0,0,0,.2);
                        }
                        // hide legend for bulgur-made data presentations because it is embedded
                        &.data-presentation
                        {
                            margin-top: $gutter-large;
                            margin-bottom: $gutter-large;

                            -webkit-box-shadow: 0 1em 5em .5em rgba(0,0,0,.2);
                                    box-shadow: 0 1em 5em .5em rgba(0,0,0,.2);
                             > figcaption
                            {
                                display: none;
                            }
                        }
                        .quinoa-presentation-player
                        {
                            font-size: $font-size-1;

                            pointer-events: none;

                            background: $color-background;
                            figcaption
                            {
                                margin-left: $gutter-large;
                                .caption-header
                                {
                                    padding-top: $gutter-medium;
                                }
                            }
                        }
                        .ReactTable
                        {
                            font-size: $font-size-1;

                            margin-right: $gutter-lateral-large-screens;
                            margin-left: $gutter-lateral-large-screens;
                        }
                        figcaption
                        {
                            font-size: $font-size-1 * .9;

                            margin-right: $gutter-medium;
                            margin-left: $gutter-lateral-large-screens;
                            padding: $gutter-medium;
                            padding-top: 0;

                            opacity: .7;
                             > *
                            {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .nav
        {
            font-family: $font-stack-serif;

            z-index: 3;

            display: flex;
            overflow-x: hidden;
            flex-flow: column nowrap;
            justify-content: stretch;

            width: $gutter-lateral-large-screens * .9;// todo: parametrize that
            height: 100%;
            padding: 0;

            pointer-events: none;

            @extend .absolute-fill;
            .nav-content
            {
                display: flex;
                overflow: hidden;
                flex-flow: column nowrap;
                justify-content: stretch;

                padding: $gutter-medium;

                @include transition(.5s all  ease);
                .table-of-content
                {
                    flex: 1;
                }
            }
            &.active,
            &:not(.fixed)
            {
                background: $color-background;
            }
            &.fixed.active
            {
                -webkit-box-shadow: $gutter-small 0 $gutter-small -2px rgba(0,0,0,.1);
                        box-shadow: $gutter-small 0 $gutter-small -2px rgba(0,0,0,.1);
            }
            h2
            {
                margin: 0;

                pointer-events: all;

                @extend .interactive-item;
                @include transition(all .5s ease);// todo: parametrize that
                &:hover
                {
                    color: $color-secondary-intent;
                }
            }
            button
            {
                padding: 0;

                text-align: left;
                pointer-events: all;

                border: none;
                outline: none;
                background: transparent;

                @include transition(all .5s ease);// todo: parametrize that
                &:hover,
                &.active
                {
                    color: $color-secondary-intent;
                }
            }
        }
    }
    .table-of-contents
    {
        font-size: $font-size-1;

        overflow: auto;

        margin: 0;
        padding: 0;

        pointer-events: all;

        @include transition(.5s all  ease);
        li
        {
            margin: 0;
            padding: 0;
            padding-bottom: $gutter-medium;

            list-style: none;

            opacity: .2;// todo: parametrize that

            @include transition(all .5s ease);// todo: parametrize that
            &:hover
            {
                opacity: 1;
            }
            &.level-1
            {
                padding-left: 0;
            }
            &.level-2
            {
                padding-left: .3rem;// todo: parametrize that
            }
            &.level-3
            {
                padding-left: .6rem;// todo: parametrize that
            }
            &.level-4
            {
                padding-left: .9rem;// todo: parametrize that
            }
            &.level-5
            {
                padding-left: 1.2rem;// todo: parametrize that
            }
            &.level-6
            {
                padding-left: 1.5rem;// todo: parametrize that
            }
            a
            {
                text-decoration: none;

                color: $color-primary;

                @include transition(all .5s ease);// todo: parametrize that
                &:hover
                {
                    color: $color-secondary-intent;
                }
            }
            &.active
            {
                opacity: .5;// todo: parametrize that
                a
                {
                    color: $color-secondary-intent;
                }
            }
        }
        .menu-title
        {
            -webkit-transition-delay: 1s;
                    transition-delay: 1s;

            opacity: 1;

            @include transition(.5s all ease);
        }
    }
    /**
     * Components
     */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
        font-family: $font-stack-sans-serif;
        font-weight: 900;
    }
    .references-manager
    {
        @extend .absolute-fill;
    }
    .glossary-container
    {
        ul
        {
            padding: 0;
            li
            {
                font-size: $font-size-1;

                margin-bottom: $gutter-medium;
                padding: 0;

                list-style-type: none;
            }
        }
    }
    .header-titles
    {
        margin-bottom: $gutter-large;
        h1
        {
            font-size: $font-size-3;

            margin-top: 0;
            margin-bottom: $gutter-small;
        }
        .authors
        {
            font-size: $font-size-2;
            font-style: italic;

            opacity: .8;
        }
    }
    .notes-container
    {
        .notes-list
        {
            padding: 0;
        }
    }
    .notes-container-position-aside
    {
        position: absolute;
        top: 0;
        left: -$gutter-lateral-large-screens * .8;

        width: $gutter-lateral-large-screens * .7;
    }
    .note-item
    {
        font-size: $font-size-1;

        position: relative;

        overflow: visible;

        margin-bottom: $gutter-medium;
        padding-bottom: $gutter-small;

        list-style-type: none;

        border-bottom: $font-size-1/5 solid $color-secondary;
        .unstyled,
        ul
        {
            line-height: $font-size-1 * 2;
        }
         > div
        {
            display: inline;

            margin-left: $gutter-small;
             > *
            {
                display: inline;
            }
        }
    }
    .note-content-pointer,
    .note-block-pointer
    {
        font-size: $font-size-1;
        line-height: $font-size-1*2.3;

        display: inline-block;

        width: $font-size-2 * 1.4;
        height: $font-size-2 * 1.4;

        cursor: pointer;
        text-align: center;
        vertical-align: middle;

        color: $color-background;
        border-radius: 50%;// todo: parametrize that
        background: $color-secondary;
        &:hover
        {
            background: $color-secondary-intent;
        }
    }
    .note-content-pointer
    {
        margin-left: $gutter-small;
    }
    #disqus_thread
    {
        margin-right: $gutter-lateral-large-screens;
        margin-left: $gutter-lateral-large-screens;
    }
    .index-toggle
    {
        margin-bottom: $gutter-medium;

        pointer-events: none;
    }
    #burger-menu
    {
        position: relative;

        display: inline-block;

        width: $burger-measure;
        height: $burger-measure;

        cursor: pointer;
        -webkit-transition: .5s ease-in-out;
           -moz-transition: .5s ease-in-out;
             -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
        pointer-events: all;

        span
        {
            position: absolute;
            left: 0;

            display: block;

            width: 100%;
            height: $burger-measure/5;

            -webkit-transition: .25s ease-in-out;
               -moz-transition: .25s ease-in-out;
                 -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
            -webkit-transform: rotate(0deg);
               -moz-transform: rotate(0deg);
                 -o-transform: rotate(0deg);
                    transform: rotate(0deg);

            opacity: 1;
            border-radius: $burger-measure/30;
            background: $color-secondary;
            &:nth-child(1),
            &:nth-child(2)
            {
                top: 0;
            }
            &:nth-child(3)
            {
                top: $burger-measure * .333;
            }
            &:nth-child(4)
            {
                top: $burger-measure * .666;
            }
        }
        &.open
        {
            span
            {
                background: $color-secondary-intent;
                &:nth-child(1)
                {
                    top: $burger-measure/3;
                    left: 50%;

                    width: 0;
                }
                &:nth-child(2)
                {
                    -webkit-transform: rotate(45deg)translateX(25%);
                       -moz-transform: rotate(45deg)translateX(25%);
                         -o-transform: rotate(45deg)translateX(25%);
                            transform: rotate(45deg)translateX(25%);
                }
                &:nth-child(3)
                {
                    -webkit-transform: rotate(-45deg)translateX(25%);
                       -moz-transform: rotate(-45deg)translateX(25%);
                         -o-transform: rotate(-45deg)translateX(25%);
                            transform: rotate(-45deg)translateX(25%);
                }
                &:nth-child(4)
                {
                    top: $burger-measure/3;
                    left: 50%;

                    width: 0;
                }
            }
        }
    }
    .references,
    .glossary-container
    {
        margin-bottom: $gutter-large;
        h2
        {
            border-bottom: $font-size-1/5 solid $color-secondary;
        }
        .csl-entry
        {
            margin-bottom: $gutter-medium;
        }
    }
}
