@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i');
$gutter-small: .7em;
$gutter-medium: $gutter-small * 1.666;
$gutter-large: $gutter-medium * 3;
$gutter-lateral-large-screens: 25%;
$color-primary: #333;
$color-secondary: red;
$color-secondary-intent: brown;
$color-background: white;
$color-secondary-background: rgba(255,255,255,.8);
 // #e5e7e6;
$color-primary-background: #f4f4f4;
$color-strokes: #dddbd9;

$font-size-1: $gutter-small * 1.1;
$font-size-2: $font-size-1 * 2;

// abstract classes
.interactive-item{
    cursor: pointer;
}
.interactive-item-intent
{
    color: $color-primary;
    background: $color-strokes;
}

.interactive-item-active
{
    color: #333;
    background: #d6cfc4;
}

.interactive-item-active-intent
{
    color: #333;
    background: #c3baac;
}

.quinoa-story-player
{
    // default styling
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: Georgia, "Times New Roman", serif;
    font-size: $font-size-1;
    line-height: $font-size-1 * 3;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: $color-primary;
    background: $color-background;

    flex-flow: column nowrap;
    align-items: stretch;

    .wrapper
    {

        width: 100%;
        height: 100%;

        overflow: auto;

        .header
        {
            cursor: pointer;
            position: relative;
            top: 0;
            left: 0;

            display: flex;

            width: 100%;
            height: 100%;

            background: rgba(0,0,0,.7);

            background: $color-secondary-background;
            background-repeat: no-repeat;
            background-size: cover;

            flex-flow: row nowrap;
            align-items: center;
            .header-content
            {
                width: 100%; // - $gutter-lateral-large-screens * 2;
                height: 100%;
                padding: 0;
                // padding-right: $gutter-lateral-large-screens;
                // padding-left: $gutter-lateral-large-screens;
                // padding: $gutter-medium;

                // background: $color-secondary-background;
                background: rgba(0,0,0,.7);
                color: white;
                text-align: center;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                h1{
                    font-size: 5em;
                    line-height: 1em;
                    font-variant: small-caps;
                }
            }
        }
    }

    .body-wrapper{
        position: relative;
        min-height: 100%;
        width: 100%;
        padding-top: $gutter-medium;

        .contents-wrapper
        {
            width: 100%;
            padding-top: $gutter-medium;
            font-size: $font-size-2;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

            text-rendering : optimizeLegibility;
            > div{
                padding-bottom: $gutter-large;
            }
            h1,h2,h3,h4,h5,h6,p,ul,blockquote, pre
            {
                padding-right: $gutter-lateral-large-screens;
                padding-left: $gutter-lateral-large-screens;
            }

            h1,h2,h3,h4,h5,h6,p:first-of-type
            {
                margin-top: 0;
            }

            figure{
                z-index: 3;
                margin: 0;
                position: relative;
                iframe{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: none;
                }
                img{
                    max-width: 100%;
                    max-height: 100%;
                    display: inline-block;
                }

                .quinoa-presentation-player
                {
                    pointer-events: none;
                }
            }

            a{
                color: $color-secondary;
                &:hover{color: $color-secondary-intent;}
            }
        }

        .nav{
            position: absolute;
            left: 0;
            top: 0;
            padding: $gutter-medium;
            width: $gutter-lateral-large-screens * .8;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: stretch;
            pointer-events: none;
            z-index: 2;

            h2{
                @extend .interactive-item;
                transition: all .5s ease;
                &:hover{
                    color: $color-secondary-intent;
                }
                margin: 0;
                pointer-events: all;
            }

            button{
                outline: none;
                text-align: left;
                border: none;
                background: transparent;
                transition: all .5s ease;
                padding: 0;
                &:hover,
                &.active
                {
                    color: $color-secondary-intent;
                }
                pointer-events: all;
            }
        }
    }

    .table-of-contents
    {
        padding : 0;
        overflow: auto;
        pointer-events: all;
        li{
            list-style: none;
            padding: 0;
            padding-bottom: $gutter-small;
            padding-top: $gutter-small;
            margin: 0;

            opacity: .2;

            transition: all .5s ease;

            &:hover{
                opacity: 1;
            }
            &.level-1{
                padding-left: 0;
            }
            &.level-2{
                padding-left: .2rem;
            }
            &.level-3{
                padding-left: .4rem;
            }
            &.level-4{
                padding-left: .6rem;
            }
            &.level-5{
                padding-left: .8rem;
            }
            &.level-6{
                padding-left: 1rem;
            }


            a{
                text-decoration: none;
                transition: all .5s ease;
                color: $color-primary;
                &:hover{
                    color: $color-secondary-intent;
                }
            }
            transition: all .5s ease;

            &.active
            {
                opacity: .5;
            }
        }
    }
}
